/* ================== GLOBAL STYLES & RESETS (A5) ================== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

body.modal-open {
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ================== COMMON CLASSES ================== */
.container {
    /* A1: Запобігання горизонтальній прокрутці */
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* ================== HEADER ================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-bottom: 16px;
    padding-top: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 0;
}

.logo-part-one {
    color: #2e2f42;
}

/* Приховуємо десктопну навігацію на мобільних */
.nav-list,
.contacts {
    display: none;
}

.menu-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.menu-open-icon {
    fill: #2e2f42;
}

/* ================== MOBILE MENU ================== */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    background-color: #ffffff;
    z-index: 999;
    flex-direction: column;

   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    padding: 72px 16px 40px;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-close-icon,
.menu-close-btn:focus .menu-close-icon {
    fill: #ffffff;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.active,
.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: #404bbf;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link.accent {
    color: #4d5ae5;
    font-size: 24px;
    /* Або 36px, залежно від макету */
}

.mobile-social-list {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 48px;
}

/* ================== HERO SECTION ================== */
.effective-solutions {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("./images/heroimages/hero-image-mob.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
    .effective-solutions {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding: 72px 0;
        text-align: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("./images/heroimages/hero-image-mob@2x.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.effective-solutions-text {
    max-width: 216px;
    margin: 0 auto 72px;
    color: #ffffff;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
}

/* ================== BENEFITS SECTION ================== */
.benefits-scroll {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefit-icon-container {
    display: none;
    /* Приховуємо на мобільних згідно макету */
}

.benefits-list {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
}

.benefits-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/* ================== TEAM SECTION ================== */
.team-section {
    background-color: #f4f4fd;
}

.team-page {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-list {
    width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 0;
    text-align: center;
}

.team-name {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.team-job-title {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

/* ================== PORTFOLIO SECTION ================== */
.potfolio-page {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.potfolio-scroll {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.potfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-wrap {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.potfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ================== FOOTER ================== */
.page-footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-logo-wrap {
    text-align: center;
}

.page-footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-too {
    color: #f4f4fd;
}

.page-footer-text {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-social-wrap {
    text-align: center;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    gap: 16px;
}

.footer-social-list .social-icon-link:hover,
.footer-social-list .social-icon-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-wrap {
    text-align: center;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/* ================== MODAL WINDOW ================== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4d5ae5;
}

.modal-checkbox-field {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input:checked+.checkbox-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
    flex-shrink: 0;
}

.modal-send-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}

/* ================== TABLET STYLES (min-width: 768px) (B2, B5) ================== */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* HEADER */
    .header-container {
        height: 72px;
    }

    .menu-open-btn {
        display: none;
    }

    .mobile-menu-container {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav-list,
    .contacts {
        display: flex;
        padding-left: 76px;
    }

    .header-nav .logo {
        margin-right: 120px;
    }

    .nav-list {
        gap: 40px;
    }

    .nav-link {
        position: relative;
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.active {
        color: #404bbf;
    }

    .nav-link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }

    /* HERO */
    .effective-solutions {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/heroimages/hero-image-tab.jpg");
    }

    @media (min-resolution: 2dppx) {
        .effective-solutions {
            max-width: 768px;
            padding: 112px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/heroimages/hero-image-tab@2x.jpg");
        }
    }

    .effective-solutions-text {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        text-transform: none;
    }

    /* BENEFITS */
    .benefits-scroll {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .benefits-list {
        text-align: left;
    }

    /* TEAM */
    .team-scroll {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
    }

    /* PORTFOLIO */
    .potfolio-scroll {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .potfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* FOOTER */
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        padding-left: 108px;
        gap: 72px 24px;
    }

    .footer-logo-wrap {
        text-align: left;
    }

    .page-footer-text {
        width: 264px;
    }

    .footer-social-wrap {
        text-align: left;
    }

    .footer-subscribe-wrap {
        text-align: left;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
        opacity: 1;
    }

    /* MODAL */
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/* ================== DESKTOP STYLES (min-width: 1158px) (B2, B5) ================== */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* HEADER */
    .header-nav .logo {
        margin-right: 76px;
    }

    .mobile-menu-container {
        display: none;
    }

    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

    /* HERO */
    .effective-solutions {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/heroimages/hero-image-pc.jpg");
    }

    @media (min-resolution: 2dppx) {
        .effective-solutions {
            max-width: 1440px;
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/heroimages/hero-image-pc@2x.jpg");
        }
    }

    .effective-solutions-text {
        margin-bottom: 48px;
    }

    /* BENEFITS */
    .benefits-scroll {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .benefit-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .benefits-list {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

    .benefits-text {
        font-weight: 400;
    }

    /* TEAM */
    .team-scroll {
        flex-wrap: nowrap;
        gap: 24px;
    }

    /* PORTFOLIO */
    .potfolio-scroll {
        row-gap: 48px;
        column-gap: 24px;
    }

    .potfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    /* FOOTER */
    .page-footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
        padding: 0 15px;
    }

    .footer-logo-wrap {
        margin-right: 120px;
    }

    .footer-subscribe-wrap {
        margin-left: auto;
    }
}